body 
{
    background-color: #21295c;
    font-family: 'Titillium Web', sans-serif;
    color:#9eb3c2;
    
}

h1
{
    padding-left: 30px;
    color:#ffcc00;
}

#Page_Principale
{
    float: left;
    margin-left: 20%;
    color: #9eb3c2;
}

#Infos
{
    display: grid;
    margin-top: 10%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 25% 1fr;

}

#encadre1
{   
    border: solid 2px #9eb3c2;
    margin-left: 30px;
    width: 500px;
    height: 200px;
    padding: 5px;
}

#encadre2
{
    border: solid 2px #9eb3c2;
    margin-left: 30px;
    width: 500px;
    height: 200px;
    padding: 5px;
}

#encadre3
{
    border: solid 2px #9eb3c2;
    margin-left: 30px;
    width: 500px;
    height: 200px;
    padding: 5px;
}

#encadre4
{
    border: solid 2px#9eb3c2;
    margin-left: 30px;
    width: 500px;
    height: 200px;
    padding: 5px;
}

b{
    color:#ffcc00;
}
#logo{
    float: left;
    margin-left: 60px;
}