#debug
{   
    position: absolute;
    bottom: 0;
    margin-bottom: 2px;
    margin-left: -4px;
    /*border: solid 2px white;*/
    font-family: 'Titillium Web', sans-serif;
    background-color: rgba(255,255,255,0.8);
    color: black;
    height: 220px;
    width: 100%;
    z-index: 2000;
    font-size: initial;
    font-weight: bold;
    position: fixed;
    overflow-y: scroll;
}

#debug :hover{
    background-color: rgba(255,255,255,1);
    
}

#erreurs{
    margin-left: 6px;
}
#debugger{
    /*border: solid 2px white;*/
    background-color: rgba(255,255,255,0.7);
    position: fixed;
    margin-top: -30px;
    padding-bottom:6px;
    padding-left: -2px;
}

#hidebutton{
    padding-left: -2px;
    position: absolute;
    bottom: 0;
    margin-bottom: 224px;
    margin-left: -4px;
    z-index: 2000;
    font-weight: bold;
    position: fixed;
    
}

#refresh{
    position: fixed;
    bottom: 0;
    margin-bottom: 224px;
    margin-left: 63px;
    z-index: 2000;
    font-size: 14px;
    font-weight: bold;
    

}

button{
    height: 35px;
    background-color: rgba(255,255,255,0.7);
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

#hidebutton :hover{
    background-color: rgba(255,255,255,1)
}

#refresh :hover{
    background-color: rgba(255,255,255,1)
}

