h1
{   
    margin-top:-25px;
    z-index:1000;
}
.Titre 
{
    font-family: sans-serif;
    position: fixed;
    text-align: center;
    font-size: 120px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#ffcc00));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border:solid 4px#ffcc00;
    /*border-top-color: rgb(236, 230, 255);
    border-left-color: rgb(236, 230, 255);*/
    border-width: 4px;
    margin-top:25px;
    width:60%;
    margin-left: 20%;
}

#BoutonRecherche
{
    background-color:#21295c;
    height: 25px;
    border-bottom-color: #000;
    border-right-color: #000;
    color:#ffcc00;
}

#BlocHaut
{    
    position: fixed;
    background-color: #21295c;
    border: solid 2px transparent;
    width: 100%;
    height: 280px;
    color:#ffcc00;
}
.FormulaireRecherche 
{   position: fixed;
    text-align: center;
    margin-left: 28%;
    margin-top: 9%;
}

body 
{
    background-color: #21295c;
    font-family: 'Titillium Web', sans-serif;
    color:#9eb3c2;
}

#doc
{   display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 68%;
    padding-top : 300px;
    margin-left: 22%; 
}
#TitreDoc
{
    display: inline;
   font-size: 20px; 
}

#nomDoc
{
    float :left;
    margin-left: 27%;
    margin-top:12%;
}

#descDoc
{   
    float: left;
    margin-left: 18%;
    margin-top:12%;
}
#motCleDoc
{   
    float: left;
    margin-left: 15%;
    margin-top:12%;
}

#RepNom
{  
    text-transform: uppercase;
    -webkit-transition: all 0.3s linear;
    -khtml-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
           transition: all 0.3s linear;
     
    color:#9eb3c2;
    
}

#RepNom:hover
{
    background-color: #ffcc00;
    border-radius: 4px;
    text-align: center;
    color:#0058a1;
    width:80%
    
}
/* #RepDesc
{
    display: flex;
    margin-left: 38%;
}

#RepMotCle
{
    margin-left: 72%;
}
*/

#Page_Principale
{  
    text-align: center;
    width: 80%;
    float:left;
    margin-left: 50%;
}

#Doc_list {
	display: none;
} 

.input_container {
    /* height: 30px; */
    float: left;
    
}
.input_container input {
    /* height: 20px;
    width: 200px; */
    border: 1px solid #eaeaea; 
   
} 
.input_container ul {
    /* width: 206px; */
    /* text-align: left; */
    width: 77%;
    font-size: 18px;
    position: absolute;
    /*z-index: 9;*/
    background: #21295c;
    list-style: none;
}
.input_container ul li {
    padding: 2px; 
    

}
.input_container ul li:hover {
    cursor: pointer;
    border-radius: 5px;
    background: #0058a1;
    width:100%;
    -webkit-transition: all 0.3s linear;
    -khtml-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
           transition: all 0.3s linear;
}
