
body{
    background-color: #ece6ff;
}


#container{

    width:400px;
    margin:0 auto;
    margin-top:10%;
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;


}
form {
    width:100%;
    padding: 30px;
    margin-left: -50px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 20px;
}
.LogForm{
    width:400px;
    margin:0 auto;
    margin-top:10%;



}
/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Set a style for all buttons */
input[type=submit] {
    background-color: #045FB4;
    border-radius: 5px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {

     background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#045FB4));

}
