#menuG
{
    
    font-family: 'Titillium Web', sans-serif;
    height: 480px;
    width: 220px;
    padding-top: 40px;
    padding-right:45px;
    z-index: 1000;
    text-align: center;
    position: fixed;
    top: 18%;
    list-style-type: none;
    font-size: 30px;
    font-weight: initial;
    color:#ffcc00;
}
a{
    color:#ffcc00;
}
a:hover{
    color:#0058a1;
}
#Liste
{
    
    margin-top:10px;
    border: solid 2px #528cc2;
    border-top-color: #9eb3c2;
    border-left-color:#9eb3c2;
    border-bottom-color: black;
    border-right-color: black;
    width: 220px;
    background-color: #0058a1;
    background-color: #1b3b6f;
    color:#ffcc00;
    height:2em;
    cursor:pointer;
    display:inline-block;
    font-size:1em;
    border-radius:10px;
    line-height:2em;
    -webkit-transition: all 0.3s linear;
 -khtml-transition: all 0.3s linear;
   -moz-transition: all 0.3s linear;
     -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
        color:#ffcc00;
} 

#Liste:hover{
    background-color: #ffcc00;
    color:#0058a1;
    border-color: #ffcc00;
    border-radius: 50px;
    

}
a {color:inherit;}
