#animations{
    position: absolute;
    border: solid 2px #ffcc00;
    width: 60%;
    height: 20%;
    background-color: #21295c;
    font-family: 'Titillium Web', sans-serif;
    color:#9eb3c2;
    margin-top: 15%;
    margin-left: 20%;

}

body{
    background-color: #21295c;
    font-family: 'Titillium Web', sans-serif;
    color:#9eb3c2;
}