body{
    background-color: #ece6ff;
    font-family: lato;
    font-weight:bold;
}
.content{
    display: grid;
    grid-template-columns: auto;
    width:400px;
    margin:0 auto;
    padding: 50px;
    text-align: center;
}
.TableauModif{
    display:grid;
    grid-template-columns: auto;

}
#Profil{
    margin: 8px auto;
    text-align: center;
    /* border:solid #045FB4 1px; */
}
form {
    width:100%;
    height:85%;
    padding: 40px;
    margin-top:20px;
    margin-left: -50px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 20px;
}   
input[type=button] {
   display:grid;
    grid-template-columns: auto;

    margin: 8px auto;
}
/* Full-width inputs */
input[type=file] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Set a style for all buttons */
input[type=submit] {
    background-color: #045FB4;
    border-radius: 5px;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;

}
input[type=submit]:hover {
     background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#045FB4));
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#BoutonPDF
{
    margin-bottom: 30px;
}