.Titre 
{
    position: fixed;
    text-align: center;
    font-size: 120px;
    background: -webkit-gradient(linear, left top, left bottom, from(#528cc2), to(#000));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-style:solid;
    border-width: 4px;
    border-color: black;
    width:60%;
    margin-left: 20%;
    margin-top: 1%;
}

.FormulaireRecherche 
{
    text-align: center;
    margin-top: 9%;
}

.BoutRech 
{
    background-color:#528cc2;
    height: 25px;
}

.Reinit
{
    background-color:#528cc2;
    height: 25px;
}

@media all and (max-height:1080px)
{
    .BlocHaut 
    {
        position : fixed;
        margin-top: -25px;
        margin-left: 1.5%;
        z-index:100;
        /* border: solid 2px black; */
        background-color:  rgb(236, 230, 255);
        width: 100%;
        height: 28%;
    }
}

@media all and (min-height:1080px)
{
    .BlocHaut 
    {
        position : fixed;
        margin-top: -25px;
        margin-left: 1.5%;
        z-index:100;
        /* border: solid 2px black; */
        background-color:  rgb(236, 230, 255);
        width: 100%;
        height: 25%;
    }
}

.MaPage 
{
    margin-top: 15%;
    width: 80%;
    float: right;
    margin-right: 6%;
    font-family: lato;
    font-weight:bold;
}

body 
{
    background-color: rgb(236, 230, 255);
}

.TableauReponses 
{
    display: flex;
    flex-grow: 4;
    flex-wrap:wrap;
    text-align: center;
    margin-right: 70px;
}

.Profil 
{
    -webkit-transition: 1s;
    border: solid 4px transparent;
    width:350px;
    height:550px;
}

.Profil:hover 
{
    font-size: 20px;
}

.imgprof 
{
    -webkit-transition: 1s;
    border-radius: 25px;
    box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.7),
        4px 4px 20px rgba(255,255,255,0.6) inset;
}

.imgprof:hover 
{   
    position:relative;
    margin-bottom:30px;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.7),
    4px 4px 20px rgba(255,255,255,0.6) inset;
    z-index: 200;
}

.Titre_societe 
{   
    background-color:#528cc2;
    width:100%;
    border: solid 2px black;
    height: 40px;
    font-size:40px;
    padding-bottom: 5px;
}

.Titre_ptdevte
{   
    margin-top: 1%;
    /* text-align: left; */
    width:100%;
    border: solid 2px transparent;
    margin: left;
    height: 40px;
    font-size:30px;
}

.Titre_service
{   
    margin-top: 1%;
    /* text-align: left; */
    width:100%;
    border: solid 2px transparent;
    margin: left;
    height: 40px;
    font-size:30px;
}

#TitreMenu
{
    margin-left: 20px;
}

#menu 
{
    position: fixed;
    top: 35%;
    margin-top: -2.5em;
    list-style-type: none;
    font-size: 30px;
}

li{margin-top:40px;}

#HR1 {
    width: 30%;
    height: 2px;
    background-color: #000;
}

#HR2 {
    width: 92%;
    height: 2px;
    background-color: #000;
}