body{
    
    background-color: #528cc2;
    /* background-color: white; */
    position: relative;

}

.Header{
    position: fixed;
    display: grid;
    width: 99.7%;
    grid-template-columns: 25% 25% 25% 25%;
    
}

.divrose{
    border: solid 2px black;
    width: 97%;
    height: 200px;
    background: -webkit-gradient(linear, left top, right bottom, from(#fc02e7), to(#01a2ff));
    /* background-color:#fc02e7; */
    margin-top: 20px;
    text-align: center;
    line-height:150px;
    font-size: 80;
}

.divbleue{
    border: solid 2px black;
    width: 97%;
    height: 200px;
    background: -webkit-gradient(linear, left bottom, right top, from(#01a2ff), to(#0afc02));
    /* background-color:#01a2ff; */
    margin-top: 40px;
    text-align: center;
    line-height:115px;
    font-size: 80;

}

.divverte{
    border: solid 2px black;
    width: 97%;
    height: 200px;
    background: -webkit-gradient(linear, left top, right bottom, from(#0afc02), to(#d6fc02));
    /* background-color:#0afc02; */
    line-height:200px;
    text-align: center;
    font-size: 80;
}

.divjaune{
    border: solid 2px black;
    width: 97%;
    height: 200px;
    background: -webkit-gradient(linear, left bottom, right top, from(#d6fc02), to(#fc02e7));
    /* background-color:#d6fc02; */
    margin-top: 10px;
    text-align: center;
    line-height:180px;
    font-size: 80;
}


footer{
    display: table-row;

    padding: 6px;
    padding-bottom: 12px;
    border: solid 0px black;
    width: 100%;
    height: 240px;
    background-color: black;
}

a{
    color: #428bca;
    text-decoration:none;
}

ul{
    
    list-style-type: none;
    color: white;
}

li{
    font-size: 20;
}

.Liens{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 14%;
    
    
    
}

.Liens :hover{
    transition-duration: 1s;
    color:#0afc02;
    
}

#icone{
    
    width: 30px;
    height: 30px;
}

.remplissage{
    margin-top:15%;
    width: 60%;
    float: left;
    margin-left:20%;
}