.Titre 
{   font-family: sans-serif;
    position: fixed;
    text-align: center;
    font-size: 120px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#ffcc00));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border:solid 4px #ffcc00;
    /*border-top-color:rgb(236, 230, 255);
    border-left-color:rgb(236, 230, 255);*/
    border-width: 4px;
    width:60%;
    margin-left: 19%;
    margin-top: 1%;

}

.FormulaireRecherche 
{
    text-align: center;
    margin-top: 9%;
    font-family: 'Titillium Web', sans-serif;
}

.BoutRech 
{
    background-color:#21295c;
    height: 25px;
    border-bottom-color: #000;
    border-right-color: #000;
    color:#ffcc00;
}

.Reinit
{
    background-color:#21295c;
    height: 25px;
    border-bottom-color: #000;
    border-right-color: #000;
    color:#ffcc00;
}

@media all and (max-height:1080px)
{
    .BlocHaut 
    {
        position : fixed;
        margin-top: -25px;
        margin-left: 1.5%;
        z-index:100;
        border: solid 2px transparent;
        background-color: #21295c;
        width: 100%;
        height: 28%;;
        color:#ffcc00
    }
}

@media all and (min-height:1080px)
{
    .BlocHaut 
    {
        position : fixed;
        margin-top: -25px;
        margin-left: 1.5%;
        z-index:100;
        border: solid 2px transparent;
        background-color:  rgb(236, 230, 255);
        width: 100%;
        height: 25%;
    }
}

.MaPage 
{
    margin-top: 15%;
    width: 80%;
    float: right;
    margin-right: 6%;
    font-family: 'Titillium Web', sans-serif;
    font-weight:bold;
   
}


body 
{
    background-color: #21295c;
    font-family: 'Titillium Web', sans-serif;
    color:#9eb3c2;
}

.TableauReponses 
{
    display: flex;
    flex-grow: 4;
    flex-wrap:wrap;
    text-align: center;
    margin-right: 70px;

}

.TableauReponses a {
    color:#ffcc00;
}

.Profil 
{
    -webkit-transition: 1s; 
    border: solid 4px transparent;
    width:350px;
    height:550px;
    
}

/*.Profil:hover 
{
    font-size: 20px;
}*/

.imgprof 
{
    -webkit-transition: 1s;
    border-radius: 25px;
    box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.7),
    4px 4px 20px rgba(255,255,255,0.6) inset;
}

/*.imgprof:hover 
{   
    position:relative;
    margin-bottom:30px;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.7),
    4px 4px 20px rgba(255,255,255,0.6) inset;
    z-index: 200;
}*/

.Titre_societe 
{   
    border: solid 2px;
    border-top-color: #9eb3c2;
    border-left-color:#9eb3c2;
    border-bottom-color: black;
    border-right-color: black;
    background-color: #0058a1;
    border-radius: 10px;
    color:#ffcc00;
    width:85%;
    margin-left:100px;
    height: 40px;
    font-size:40px;
    padding-bottom: 10px; 

}

.Titre_ptdevte
{   
    margin-top: 1%;
    /* text-align: left; */
    width:100%;
    border: solid 2px transparent;
    margin: left;
    height: 40px;
    font-size:30px;
}

.Titre_service
{   
    margin-top: 1%;
    /* text-align: left; */
    width:100%;
    border: solid 2px transparent;
    margin: left;
    height: 40px;
    font-size:30px;
}

#menu 
{
    position: fixed;
    top: 36%;
    margin-top: -2.5em;
    list-style-type: none;
    font-size: 30px;
}

li{margin-top:40px;}

#HR1 
{
    width: 32%;
    height: 2px;
    background-color: #000;
    margin-top:-5px;
}

#HR2 
{
    width: 92%;
    height: 2px;
    background-color: #000;
    margin-top:-5px;
}

#doc
{
    text-align: center;
}

